.container{
    width: 15%;
    height: 200px;
    background-color: aqua;
    margin-top: 200px;
}

body{
    padding: 0;
    margin: 0;
}

.kotak{
    width: 100%;
    height: 42.5px;
    margin-bottom: 10px;
    background-color: blue;
    transform: translateX(-80%);
}

.kotak:hover{
    transform: translateX(0);
}